html {
    color: #222;
    font-size: 12px;
}

.container {
    width: 150px; height: 150px;
    border-radius: 4px;
    padding: 1px;
}

.containerCell {
    border-style: inset;
    border-color: azure;
    float: left;
    width: 25px;
    height: 25px;
    padding: 2px 2px 2px 2px;
}