.container {
    width: 124px;
    height: 186px;
    border-style: outset;
    border-color: aliceblue;
    border-radius: 8px;
    background-color: azure;
}

.containerCell {
    border-style: inset;
    border-color: azure;
    border-radius: 6px;
    float: left;
    width: 25px;
    height: 25px;
}