html {
    background-color: #222;
    color: #eee;
    font-size: 12px;
}

body {
  margin: 0;
  padding-left: 50px;
  font-family: sans-serif;
}

#colorLabel {
  width: 128px;
  height: 30px;
  text-align: center;
    line-height: 30px;
  vertical-align: center;
  color: #000;
}